# ant
bin
target
out

# intellij
*.iml
.idea
.gradle
build/
tmp
classes

# android
R.java
local.properties
proguard_logs
*.apk
*.keystore
secure.properties
gen
gen-external-apklibs/
release/

res/values/api_keys.xml

# OS X
.DS_Store
