<?xml version="1.0" encoding="utf-8"?>
<!--
    AirCasting - Share your Air!
    Copyright (C) 2011-2012 HabitatMap, Inc.

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

    You can contact the authors by email at <info@habitatmap.org>
--><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="76" android:versionName="1.4.2" package="pl.llp.aircasting">

  <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="13"/>

  <!-- Settings -->
  <supports-screens android:anyDensity="true" android:largeScreens="true" android:normalScreens="true" android:smallScreens="true"/>

  <!-- Permissions -->
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <uses-permission android:name="android.permission.RECORD_AUDIO"/>
  <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.BLUETOOTH"/>
  <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
  <uses-permission android:name="android.permission.VIBRATE"/>

  <application android:icon="@drawable/icon" android:label="@string/app_name" android:name=".guice.AirCastingApplication">

    <!-- Libraries -->
    <uses-library android:name="com.google.android.maps"/>

    <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
    <meta-data android:name="com.google.android.geo.API_KEY" android:value="@string/com.google.android.geo.API_KEY"/>

    <!-- Activities -->
    <activity android:label="@string/app_name" android:name=".activity.SplashActivity" android:noHistory="true" android:theme="@style/AirCastingTheme">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity android:label="@string/app_name" android:name=".activity.GraphActivity" android:theme="@style/AirCastingTheme"/>

    <activity android:label="@string/app_name" android:name=".activity.SessionsActivity" android:theme="@style/AirCastingTheme"/>

    <activity android:label="@string/session_details" android:name=".activity.SaveSessionActivity" android:theme="@style/Dialog"/>

    <activity android:label="@string/session_details" android:name=".activity.SaveOrDiscardRestoredSessionActivity" android:theme="@style/Dialog"/>

    <activity android:label="@string/session_details" android:name=".activity.EditSessionActivity" android:theme="@style/Dialog"/>

    <activity android:name=".activity.SettingsActivity" android:theme="@style/AirCastingTheme"/>

    <activity android:label="@string/session_options" android:name=".activity.OpenMobileSessionActivity" android:theme="@style/Dialog"/>

    <activity android:label="@string/session_options" android:name=".activity.OpenFixedSessionActivity" android:theme="@style/Dialog"/>

    <activity android:name=".activity.AirCastingMapActivity" android:theme="@style/AirCastingTheme"/>

    <activity android:name=".activity.AboutActivity" android:theme="@style/AirCastingTheme"/>

    <activity android:label="@string/make_a_note" android:name=".activity.MakeANoteActivity" android:theme="@style/Dialog"/>

    <activity android:label="@string/color_scale" android:name=".activity.ThresholdsActivity" android:theme="@style/Dialog"/>

    <activity android:label="@string/connect_to_aircasting" android:name=".activity.SignUpActivity" android:theme="@style/Dialog"/>

    <activity android:label="@string/sign_out" android:name=".activity.SignOutActivity" android:theme="@style/Dialog"/>

    <activity android:label="@string/sign_in" android:name=".activity.SignInActivity" android:theme="@style/Dialog"/>

    <activity android:label="@string/reset_password" android:name=".activity.ResetPasswordActivity" android:theme="@style/Dialog"/>

    <activity android:label="@string/profile" android:name=".activity.ProfileActivity" android:theme="@style/Dialog"/>

    <activity android:label="@string/contribute_to_crowd_map" android:name=".activity.ContributeActivity" android:theme="@style/Dialog"/>

    <activity android:label="@string/share_session" android:name=".activity.ShareSessionActivity" android:theme="@style/Dialog"/>

    <activity android:label="@string/external_devices" android:name=".activity.extsens.ExternalSensorActivity" android:theme="@style/Dialog"/>

    <activity android:label="@string/measurement_streams" android:name=".activity.StreamsActivity" android:theme="@style/AirCastingTheme"/>

    <activity android:label="@string/backend_settings" android:name=".activity.settings.BackendSettingsActivity" android:theme="@style/Dialog"/>

    <activity android:label="@string/disable_maps" android:name=".activity.settings.DisableMapSettingsActivity" android:theme="@style/Dialog"/>

    <activity android:label="@string/start_fixed_session" android:name=".activity.StartFixedSessionActivity" android:theme="@style/Dialog"/>

    <!-- Services -->
    <service android:name=".service.SensorService"/>

    <service android:name=".storage.DatabaseWriterService"/>

    <service android:name=".sync.SyncService"/>

    <service android:name=".service.IOIOService"/>

    <!-- Receivers -->
    <receiver android:name=".receiver.NetworkReceiver">
      <intent-filter>
        <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
      </intent-filter>
    </receiver>
  </application>
</manifest>
